.hero-bg {
    background: white url(../Assets/Backgrounds/LandingPage.png) center / cover !important;
}

.sports-bg {
    background: white url(../Assets/Backgrounds/Practices/Sports.png) center / cover !important;
}

.health-bg {
    background: white url(../Assets/Backgrounds/Practices/Health.png) center / cover !important;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

.center-button {
    margin: 0 auto;
    display: block;
}

.service-cards {
    background-color: #d0e9ff;
}

.service-cards:hover {
    background-color: #8dcaff;
}

.news-hover p:hover {
    color: #626262;
}